<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>temptblii</title>
</head>
<body>
<table border="2">

    <form method="POST">
         {% csrf_token%}
    <tr align="center">
        <td><label>EmpCode</label></td>
        <td><input type="text" name="empcode" id="empcode" placeholder="Enter the empcode"></td>
    </tr>

    <tr align="center">
        <td><label>TotalEarningAmt</label></td>
        <td><input type="number" name="totalearningamt" id="totalearningamt" placeholder="Enter the totalearningamt"></td>
    </tr>

     <tr align="center">
        <td><label>Month</label></td>
        <td><input type="number" name="month" id="month" placeholder="Enter the month"></td>
    </tr>


    <tr align="center">
        <td><label>Year</label></td>
        <td><input type="number" name="year" id="year" placeholder="Enter the year"></td>
    </tr>
    <tr align="center">
        <td colspan="2">
            <input type="submit" name="btn submit" id="btn submit" value="save">
             <input type="button" name="btn cancle" id="btn cancle" value="cancle">
        </td>
    </tr>
        </form>
</table>
</body>
</html>