<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division master</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

<table border="2">
<!--    <tr>-->
<!--        <td>-->
<!--            <label>srno</label>-->

<!--        </td>-->
<!--        <td>-->
<!--            <input type="number" name="srno" id="srno" placeholder="enter srno">-->

<!--        </td>-->
<!--    </tr>-->
    <tr>
        <td>
            <label> Emp name </label>

        </td>
        <td>
            <input type="text" name="empname" id="empname" placeholder="enter emp name">

        </td>
    </tr>
    <tr>
        <td>
            <label> emp short name</label>

        </td>
        <td>
            <input type="text" name="empshortname" id="empshortname" placeholder="enter  emp short name">

        </td>
    </tr>

    <
     <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>






</form>

</body>
</html>