<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade Master</title>
</head>
<body>
    <form method="POST" action="">
        {%csrf_token%}
    <table border="2">
        <tr>
            <td>
                <label>GradeCode</label>
            </td>
            <td>
                <input type="text" name="GradeCode" id="GradeCode" placeholder="Enter GradeCode">
            </td>
        </tr>
        <tr>
            <td>
                <label>GradeName</label>
            </td>
            <td>
                <input type="text" name="GradeName" id="GradeName" placeholder="Enter GradeName">
            </td>
        </tr>
        <tr>
            <td>
                <label>SrNo</label>
            </td>
            <td>
                <input type="number" name="SrNo" id="SrNo" placeholder="Enter SrNo">
            </td>
        </tr>
        <tr>
            <td>
                <label>Pay1</label>
            </td>
            <td>
                <input type="number" name="Pay1" id="Pay1" placeholder="Enter Pay1">
            </td>
        </tr>
        <tr>
            <td>
                <label>Incr1</label>
            </td>
            <td>
                <input type="number" name="Incr1" id="Incr1" placeholder="Enter Incr1">
            </td>
        </tr>
        <tr>
            <td>
                <label>Pay2</label>
            </td>
            <td>
                <input type="number" name="Pay2" id="Pay2" placeholder="Enter Pay2">
            </td>
        </tr>
        <tr>
            <td>
                <label>Incr2</label>
            </td>
            <td>
                <input type="number" name="Incr2" id="Incr2" placeholder="Enter Incr2">
            </td>
        </tr>
        <tr>
            <td>
                <label>Pay3</label>
            </td>
            <td>
                <input type="number" name="Pay3" id="Pay3" placeholder="Enter Pay3">
            </td>
        </tr>
        <tr>
            <td>
                <label>Incr3</label>
            </td>
            <td>
                <input type="number" name="Incr3" id="Incr3" placeholder="Enter Incr3">
            </td>
        </tr>
        <tr>
            <td>
                <label>Pay4</label>
            </td>
            <td>
                <input type="number" name="Pay4" id="Pay4" placeholder="Enter Pay4">
            </td>
        </tr>
        <tr>
            <td>
                <label>Incr4</label>
            </td>
            <td>
                <input type="number" name="Incr4" id="Incr4" placeholder="Enter Incr4">
            </td>
        </tr>
        <tr>
            <td>
                <label>Per_HRA</label>
            </td>
            <td>
                <input type="number" name="Per_HRA" id="Per_HRA" placeholder="Enter Per_HRA">
            </td>
        </tr>
        <tr>
            <td>
                <label>Per_CA</label>
            </td>
            <td>
                <input type="number" name="Per_CA" id="Per_CA" placeholder="Enter Per_CA">
            </td>
        </tr>
        <tr>
            <td>
                <label>Cash_CA</label>
            </td>
            <td>
                <input type="number" name="Cash_CA" id="Cash_CA" placeholder="Enter Cash_CA">
            </td>
        </tr>
        <tr>
            <td>
                <label>Per_PA</label>
            </td>
            <td>
                <input type="number" name="Per_PA" id="Per_PA" placeholder="Enter Per_PA">
            </td>
        </tr>
        <tr>
            <td>
                <label>Per_Edu</label>
            </td>
            <td>
                <input type="number" name="Per_Edu" id="Per_Edu" placeholder="Enter Per_Edu">
            </td>
        </tr>
        <tr>
            <td>
                <label>Cash_Edu</label>
            </td>
            <td>
                <input type="number" name="Cash_Edu" id="Cash_Edu" placeholder="Enter Cash_Edu">
            </td>
        </tr>
        <tr>
            <td>
                <label>Per_DA</label>
            </td>
            <td>
                <input type="number" name="Per_DA" id="Per_DA" placeholder="Enter Per_DA">
            </td>
        </tr>
        <tr>
            <td>
                <label>Per_Bonus</label>
            </td>
            <td>
                <input type="number" name="Per_Bonus" id="Per_Bonus" placeholder="Enter Per_Bonus">
            </td>
        </tr>
        <tr>
            <td>
                <label>Uniform_Allowance</label>
            </td>
            <td>
                <input type="number" name="Uniform_Allowance" id="Uniform_Allowance" placeholder="Enter Uniform_Allowance">
            </td>
        </tr>
        <tr>
            <td>
                <label>Vehical_Allowance</label>
            </td>
            <td>
                <input type="number" name="Vehical_Allowance" id="Vehical_Allowance" placeholder="Enter Vehical_Allowance">
            </td>
        </tr>
        <tr>
            <td>
                <label>Utility_Allowance</label>
            </td>
            <td>
                <input type="number" name="Utility_Allowance" id="Utility_Allowance" placeholder="Enter Utility_Allowance">
            </td>
        </tr>
        <tr>
            <td>
                <label>Duty_Allowance</label>
            </td>
            <td>
                <input type="number" name="Duty_Allowance" id="Duty_Allowance" placeholder="Enter Duty_Allowance">
            </td>
        </tr>
        <tr>
            <td>
                <label>Field_Allowance</label>
            </td>
            <td>
                <input type="number" name="Field_Allowance" id="Field_Allowance" placeholder="Enter Field_Allowance">
            </td>
        </tr>
        <tr>
            <td>
                <label>Washing_Allowance</label>
            </td>
            <td>
                <input type="number" name="Washing_Allowance" id="Washing_Allowance" placeholder="Enter Washing_Allowance">
            </td>
        </tr>
        <tr>
            <td>
                <label>Medical_Allowance</label>
            </td>
            <td>
                <input type="number" name="Medical_Allowance" id="Medical_Allowance" placeholder="Enter Medical_Allowance">
            </td>
        </tr>


        <tr align="center">
            <td colspan="2">
                <input type="submit" name="btn submit" id="btn submit" value="Save">
                <input type="button" name="btn cancel" id="btn cancel" value="Cancel">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>