<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branch Master</title>
</head>
<body>
    <form method="POST" action="">
        {%csrf_token%}
    <table border="2">
        <tr>
            <td>
                <label>Branch Code</label>
            </td>
            <td>
                <input type="text" name="branchcode" id="branchcode" placeholder="Enter the Branch Code">
            </td>
        </tr>
        <tr>
            <td>
                <label>Branch Name</label>
            </td>
            <td>
                <input type="text" name="branchname" id="branchname" placeholder="Enter the Branch Name">
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" name="btn submit" id="btn submit" value="Save">
                <input type="button" name="btn cancel" id="btn cancel" value="Cancel">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>