<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branch master</title>
</head>
<body>
<form method="POST" action="" >
    {%csrf_token%}
<table border="2">
    <tr>
        <td>
            <label>BranGr code </label>
        </td>

        <td>
            <input type="text" name="BranGrCode" id="BranGrCode" placeholder="enter the BranGr code "  >
        </td>
    </tr>
    <tr>
        <td>
            <label>BranGr name </label>

        </td>


        <td>
            <input type="text" name="BranGrName" id="BranGrName" placeholder="enter the BranGr name" >
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btn submit" id="btn canal " value="Cancal">  </td>
    </tr>
</table>
</form>


</body>
</html>