<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division master</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

<table border="2">

        <td>
            <label> user is </label>

        </td>
        <td>
            <input type="number" name="userid" id="userid" placeholder="enter user id">

        </td>
    </tr>
    <tr>
        <td>
            <label> user name</label>

        </td>
        <td>
            <input type="text" name="username" id="username" placeholder="enter user name">

        </td>
    </tr>
    <tr>
        <td>
            <label> user type</label>

        </td>
        <td>
            <input type="text" name="usertype" id="usertype" placeholder="enter user type">

        </td>
    </tr>
    <tr>
        <td>
            <label> month</label>

        </td>
        <td>
            <input type="number" name="month" id="month" placeholder="enter user name">

        </td>
    </tr>
    <tr>
        <td>
            <label> year </label>

        </td>
        <td>
            <input type="text" name="year" id="year" placeholder="enter year">

        </td>
    </tr>
    <tr>
        <td>
            <label> leave password</label>

        </td>
        <td>
            <input type="text" name="leavepostpassword" id="leavepostpassword" placeholder="enter password">

        </td>
    </tr>

    <
     <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>






</form>

</body>
</html>