<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division master</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

<table border="2">
    <tr>
        <td>
            <label>Emp Code</label>

        </td>
        <td>
            <input type="text" name="EmpCode" id="EmpCode" placeholder="enter Emp Code">

        </td>
    </tr>
    <tr>
        <td>
            <label> PrvEmployer1</label>

        </td>
        <td>
            <input type="text" name="PrvEmployer1" id="PrvEmployer1" placeholder="enter PrvEmployer1">

        </td>
    </tr>
    <tr>
        <td>
            <label> Designation1</label>

        </td>
        <td>
            <input type="text" name="Designation1" id="Designation1" placeholder="enter Designation1">

        </td>
    </tr>

    <tr>
        <td>
            <label> EmpFromDate1 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpFromDate1" id="EmpFromDate1" placeholder="enter EmpFromDate1">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpToDate1 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpToDate1" id="EmpToDate1" placeholder="enter EmpToDate1">

        </td>
    </tr>
    <tr>
        <td>
            <label> PrvEmployer2 </label>

        </td>
        <td>
            <input type="text" name="PrvEmployer2" id="PrvEmployer2" placeholder="enter PrvEmployer2">

        </td>
    </tr>
    <tr>
        <td>
            <label> Designation2 </label>

        </td>
        <td>
            <input type="text" name="Designation2" id="Designation2" placeholder="enter Designation2">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpFromDate2 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpFromDate2" id="EmpFromDate2" placeholder="enter EmpFromDate2">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpToDate2 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpToDate2" id="EmpToDate2" placeholder="enter EmpToDate2">

        </td>
    </tr>
    <tr>
        <td>
            <label> PrvEmployer3 </label>

        </td>
        <td>
            <input type="text" name="PrvEmployer3" id="PrvEmployer3" placeholder="enter PrvEmployer3">

        </td>
    </tr>
    <tr>
        <td>
            <label> Designation3 </label>

        </td>
        <td>
            <input type="text" name="Designation3" id="Designation3" placeholder="enter Designation3">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpFromDate3 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpFromDate3" id="EmpFromDate3" placeholder="enter EmpFromDate3">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpToDate3 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpToDate3" id="EmpToDate3" placeholder="enter EmpToDate3">

        </td>
    </tr>
    <tr>
        <td>
            <label> PrvEmployer4 </label>

        </td>
        <td>
            <input type="text" name="PrvEmployer4" id="PrvEmployer4" placeholder="enter PrvEmployer4">

        </td>
    </tr>
    <tr>
        <td>
            <label> Designation4 </label>

        </td>
        <td>
            <input type="text" name="Designation4" id="Designation4" placeholder="enter Designation4">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpFromDate4 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpFromDate4" id="EmpFromDate4" placeholder="enter EmpFromDate4">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpToDate4 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpToDate4" id="EmpToDate4" placeholder="enter EmpToDate4">

        </td>
    </tr>
    <tr>
        <td>
            <label> PrvEmployer5 </label>

        </td>
        <td>
            <input type="text" name="PrvEmployer5" id="PrvEmployer5" placeholder="enter PrvEmployer5">

        </td>
    </tr>
    <tr>
        <td>
            <label> Designation5 </label>

        </td>
        <td>
            <input type="text" name="Designation5" id="Designation5" placeholder="enter Designation5">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpFromDate5 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpFromDate5" id="EmpFromDate5" placeholder="enter EmpFromDate5">

        </td>
    </tr>
    <tr>
        <td>
            <label> EmpToDate5 </label>

        </td>
        <td>
            <input type="datetime-local" name="EmpToDate5" id="EmpToDate5" placeholder="enter EmpToDate5">

        </td>
    </tr>

     <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>

</form>

</body>
</html>