<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division master</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

<table border="2">

        <td>
            <label> state code </label>

        </td>
        <td>
            <input type="number" name="statecode" id="statecode" placeholder="enter state code">

        </td>
    </tr>
    <tr>
        <td>
            <label> state name</label>

        </td>
        <td>
            <input type="text" name="statename" id="statename" placeholder="enter state name">

        </td>
    </tr>

    <
     <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>






</form>

</body>
</html>