<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Division master</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

<table border="2">

        <td>
            <label> EmpCode </label>

        </td>
        <td>
            <input type="number" name="EmpCode" id="EmpCode" placeholder="enter Emp code">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfAmt1</label>

        </td>
        <td>
            <input type="number" name="OfAmt1" id="OfAmt1" placeholder="enter OfAmt1">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfDescription1</label>

        </td>
        <td>
            <input type="text" name="OfDescription1" id="OfDescription1" placeholder="enter OfDescription1">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfAmt2</label>

        </td>
        <td>
            <input type="number" name="OfAmt2" id="OfAmt2" placeholder="enter OfAmt2">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfDescription2</label>

        </td>
        <td>
            <input type="text" name="OfDescription2" id="OfDescription2" placeholder="enter OfDescription2">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfAmt3</label>

        </td>
        <td>
            <input type="number" name="OfAmt3" id="OfAmt3" placeholder="enter OfAmt3">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfDescription3</label>

        </td>
        <td>
            <input type="text" name="OfDescription3" id="OfDescription3" placeholder="enter OfDescription3">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfAmt4</label>

        </td>
        <td>
            <input type="number" name="OfAmt4" id="OfAmt4" placeholder="enter OfAmt4">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfDescription4</label>

        </td>
        <td>
            <input type="text" name="OfDescription4" id="OfDescription4" placeholder="enter OfDescription4">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfAmt5</label>

        </td>
        <td>
            <input type="number" name="OfAmt5" id="OfAmt5" placeholder="enter OfAmt5">

        </td>
    </tr>
    <tr>
        <td>
            <label> OfDescription5</label>

        </td>
        <td>
            <input type="text" name="OfDescription5" id="OfDescription5" placeholder="enter OfDescription5">

        </td>
    </tr>


     <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>






</form>

</body>
</html>