<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department Master</title>
</head>
<body>
    <form method="POST" action="">
        {%csrf_token%}
    <table border="2">
        <tr>
            <td>
                <label>Department Code</label>
            </td>
            <td>
                <input type="text" name="departmentcode" id="departmentcode" placeholder="Enter the Department Code">
            </td>
        </tr>
        <tr>
            <td>
                <label>Department Name</label>
            </td>
            <td>
                <input type="text" name="departmentname" id="departmentname" placeholder="Enter the Department Name">
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" name="btn submit" id="btn submit" value="Save">
                <input type="button" name="btn cancel" id="btn cancel" value="Cancel">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>