<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Designation Master</title>
</head>
<body>
    <form method="POST" action="">
        {%csrf_token%}
    <table border="2">
        <tr>
            <td>
                <label>Designation Code</label>
            </td>
            <td>
                <input type="text" name="DesigCode" id="DesigCode" placeholder="Enter the Designation Code">
            </td>
        </tr>
        <tr>
            <td>
                <label>Designation Name</label>
            </td>
            <td>
                <input type="text" name="DesigName" id="DesigName" placeholder="Enter the Designation Name">
            </td>
        </tr>
        <tr>
            <td>
                <label>HRACnd</label>
            </td>
            <td>
                <input type="text" name="HRACnd" id="HRACnd" placeholder="Enter HRACnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>CACnd</label>
            </td>
            <td>
                <input type="text" name="CACnd" id="CACnd" placeholder="Enter the CACnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>PACnd</label>
            </td>
            <td>
                <input type="text" name="PACnd" id="PACnd" placeholder="Enter the PACnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>EduCnd</label>
            </td>
            <td>
                <input type="text" name="EduCnd" id="EduCnd" placeholder="Enter EduCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>DACnd</label>
            </td>
            <td>
                <input type="text" name="DACnd" id="DACnd" placeholder="Enter DACnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>BonusCnd</label>
            </td>
            <td>
                <input type="text" name="BonusCnd" id="BonusCnd" placeholder="Enter BonusCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>UniformCnd</label>
            </td>
            <td>
                <input type="text" name="UniformCnd" id="UniformCnd" placeholder="Enter UniformCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>VehicalCnd</label>
            </td>
            <td>
                <input type="text" name="VehicalCnd" id="VehicalCnd" placeholder="Enter VehicalCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>UtilityCnd</label>
            </td>
            <td>
                <input type="text" name="UtilityCnd" id="UtilityCnd" placeholder="Enter UtilityCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>DutyCnd</label>
            </td>
            <td>
                <input type="text" name="DutyCnd" id="DutyCnd" placeholder="Enter DutyCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>FieldCnd</label>
            </td>
            <td>
                <input type="text" name="FieldCnd" id="FieldCnd" placeholder="Enter FieldCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>WashCnd</label>
            </td>
            <td>
                <input type="text" name="WashCnd" id="WashCnd" placeholder="Enter WashCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>MedicalCnd</label>
            </td>
            <td>
                <input type="text" name="MedicalCnd" id="MedicalCnd" placeholder="Enter MedicalCnd">
            </td>
        </tr>
        <tr>
            <td>
                <label>PayScale</label>
            </td>
            <td>
                <input type="text" name="PayScale" id="PayScale" placeholder="Enter PayScale">
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" name="btn submit" id="btn submit" value="Save">
                <input type="button" name="btn cancel" id="btn cancel" value="Cancel">
            </td>
        </tr>
    </table>
    </form>
</body>
</html>