<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>leave master</title>
</head>
<body>
<form method="POST" action="">
    {%csrf_token%}

<table border="2">

    <tr>
        <td>
            <label>compid</label>

        </td>
        <td>
            <input type="number" name="compid" id="compid" placeholder="enter compid ">

        </td>
    </tr>
    <tr>
        <td>
            <label>name</label>

        </td>
        <td>
            <input type="text" name="name" id="name" placeholder="enter name">

        </td>
    </tr>
    <tr>
        <td>
            <label>address</label>

        </td>
        <td>
            <input type="text" name="address" id="address" placeholder="enter address">

        </td>
    </tr>

    <tr>
        <td>
            <label>city</label>

        </td>
        <td>
            <input type="text" name="city" id="city" placeholder="enter city">

        </td>
    </tr>
    <tr>
        <td>
            <label>pin</label>

        </td>
        <td>
            <input type="number" name="pin" id="pin" placeholder="enter pin">

        </td>
    </tr>
    <tr>
        <td>
            <label>phoneno </label>

        </td>
        <td>
            <input type="number" name="phoneno" id="phoneno" placeholder="enter phoneno">

        </td>
    </tr>
    <tr>
        <td>
            <label>fax </label>

        </td>
        <td>
            <input type="text" name="fax" id="fax" placeholder="enter fax">

        </td>
    </tr>
    <tr>
        <td>
            <label>email </label>

        </td>
        <td>
            <input type="email" name="email" id="email" placeholder="enter email">

        </td>
    </tr>
    <tr>
        <td>
            <label>website </label>

        </td>
        <td>
            <input type="text" name="website" id="website" placeholder="enter website">

        </td>
    </tr>
    <tr>
        <td>
            <label>vattin </label>

        </td>
        <td>
            <input type="text" name="vattin" id="vattin" placeholder="enter vattin">

        </td>
    </tr>
    <tr>
        <td>
            <label>csttin </label>

        </td>
        <td>
            <input type="text" name="csttin" id="csttin" placeholder="enter csttin">

        </td>
    </tr>
    <tr>
        <td>
            <label>excise </label>

        </td>
        <td>
            <input type="text" name="excise" id="excise" placeholder="enter excise">

        </td>
    </tr>
    <tr>
        <td>
            <label>pfno </label>

        </td>
        <td>
            <input type="number" name="pfno" id="pfno" placeholder="enter pfno">

        </td>
    </tr>
    <tr>
        <td>
            <label>esino </label>

        </td>
        <td>
            <input type="number" name="esino" id="esino" placeholder="enter esino">

        </td>
    </tr>
    <tr>
        <td>
            <label>EPFPER </label>

        </td>
        <td>
            <input type="number" name="EPFPER" id="EPFPER" placeholder="enter EPFPER">

        </td>
    </tr>
    <tr>
        <td>
            <label>EPSPER </label>

        </td>
        <td>
            <input type="number" name="EPSPER" id="EPSPER" placeholder="enter EPSPER">

        </td>
    </tr>
    <tr>
        <td>
            <label>MAXEPS </label>

        </td>
        <td>
            <input type="number" name="MAXEPS" id="MAXEPS" placeholder="enter MAXEPS">

        </td>
    </tr>
    <tr>
        <td>
            <label>ESIPER </label>

        </td>
        <td>
            <input type="number" name="ESIPER" id="ESIPER" placeholder="enter ESIPER">

        </td>
    </tr>
    <tr>
        <td>
            <label>LabourWealfare1 </label>

        </td>
        <td>
            <input type="number" name="LabourWealfare1" id="LabourWealfare1" placeholder="enter LabourWealfare1">

        </td>
    </tr>
    <tr>
        <td>
            <label>LabourWealfare2 </label>

        </td>
        <td>
            <input type="number" name="LabourWealfare2" id="LabourWealfare2" placeholder="enter LabourWealfare2">

        </td>
    </tr>
    <tr>
        <td>
            <label>LabourWealfare3 </label>

        </td>
        <td>
            <input type="number" name="LabourWealfare3" id="LabourWealfare3" placeholder="enter LabourWealfare3">

        </td>
    </tr>
    <tr>
        <td>
            <label>LabourWealfare4 </label>

        </td>
        <td>
            <input type="number" name="LabourWealfare4" id="LabourWealfare4" placeholder="enter LabourWealfare4">

        </td>
    </tr>
    <tr>
        <td>
            <label>LabourWealfare5 </label>

        </td>
        <td>
            <input type="number" name="LabourWealfare5" id="LabourWealfare5" placeholder="enter LabourWealfare5">

        </td>
    </tr>
    <tr>
        <td>
            <label>TaDaper </label>

        </td>
        <td>
            <input type="number" name="TaDaper" id="TaDaper" placeholder="enter TaDaper">

        </td>
    </tr>
     <tr>
        <td colspan="2" align="center"> <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
          <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>

</form>

</body>
</html>